[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#neomodel = "==3.3.0"
neomodel = "https://github.com/KE-works/neomodel.git@feature_database_singleton#wheel=neomodel"
#neomodel = "==3.2.9"
Django = "*"
Faker= "*"

[dev-packages]

[requires]
python_version = "3.6"
